<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>NFT</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link type="text/css" href="assets/css/theme.css" rel="stylesheet">
	<style type="text/css">
	* {
		font-family: 'Nunito', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/smarteco@1.0.4/lib/smartEco.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"><img src="https://cdn.o3.network/logo/logo-dark.png" srcset="https://cdn.o3.network/logo/logo-dark@2x.png 2x" height="30" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_example_1" aria-controls="navbar_example_1" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar_example_1">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="https://o3.network" target="_blank">Download O3</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="app">
	<section class="container">


		<div class="row row-grid mt-lg d-lg-flex">
			<div class="col col-lg-6 mb-lg-4" v-for="nft in token_urls">
				<div class="card shadow">
					<div class="card-body">
						<div class="d-flex align-items-start ">
							<div class="">
								<img v-bind:src="nft" height="44px" />
							</div>
							<div class="icon-text px-4">
								<h5 class="">OWNER</h5>
								<div class="mb-0">TOKEN ID</div>
							</div>
						</div>
						
					</div>
					<div class="card-footer">
						Footer Goes Here
					</div>
				</div>
			</div>
		</div>  


	</section>





		<h1>NFT Explorer</h1>
		Contract Hash:<br>
  		<input v-model="contract_hash" >
  		<br>
 		Token ID:<br>
  		<input v-model="token_id">
  		<br><br>
  		<button v-on:click="loadAllTokens">Submit</button>
		<img v-bind:src="image_url"/>
</div>

<footer class="footer footer-dark bg-gradient-primary footer-rotate mt-5">
	<div class="container">
		<div class="row pt-md">
			<div class="col-lg-4 mb-5 mb-lg-0">
				<a href="/">
					<img src="https://cdn.o3.network/logo/logo-dark.png" srcset="https://cdn.o3.network/logo/logo-dark@2x.png 2x" alt="Footer logo" style="height: 40px;">
				</a>
				<p class="text-sm mt-2">Your gateway to the Smart Economy</p>
			</div>
			<div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
				<h6 class="heading mb-3">O3</h6>
				<ul class="list-unstyled">
					<li><a href="https://itunes.apple.com/app/id1336781023">iOS</a>
					</li>
					<li><a href="https://play.google.com/store/apps/details?id=network.o3.o3wallet">Android</a>
					</li>
					<li><a href="https://itunes.apple.com/us/app/o3/id1421086700">macOS</a>
					</li>
					<li><a href="https://www.microsoft.com/store/apps/9P6FJT4FB4DJ">Windows</a>
					</li>
				</ul>
			</div>
		 
			<div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Company</h6>
				<ul class="list-unstyled">
					<li><a href="https://o3.network">Home</a>
					</li>
					<li><a href="https://o3.network/team/">Team</a>
					</li>
					<li><a href="https://community.o3.network/">Community</a>
					</li>
					<li><a href="mailto:support@o3.network">Support</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
			<div class="col-md-6">
				<div class="copyright text-sm font-weight-bold text-center text-md-left">
					&copy; 2019 <a href="https://o3.network/" class="font-weight-bold" target="_blank">O3 Labs Inc</a>. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			contract_hash:"ef26427f9eaeed31c57884dbbc2bda5de7b5dab8",
			token_id: 0,
			image_url:"",
			token_urls:[]
		}, 
		methods:{
			getUrlForToken(){
				var self = this;
				smartEcoRouter = new smartEco.SmartEcoRouter()
				smartEcoRouter.start()
				var invokeRequest = {
					"scriptHash": this.contract_hash,
  					"operation": "uri",
  					"args": [
    					{
      						"type": 'Integer',
      						"value": parseInt(this.token_id, 10)
      					}
  					],
  					"network": "TestNet"}
				 	smartEcoRouter.invokeRead(invokeRequest)
					.then(function(r) {
						var hex = r["stack"][0]["value"]
    					var str = '';
    					for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)
        					str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
						console.log(str)
						self.image_url = str
						console.log(this.image_url)
					})
					.catch(function(e) {
						console.log(e)
					})
					 
			}, loadAllTokens() {
				var self = this
				smartEcoRouter = new smartEco.SmartEcoRouter()
				smartEcoRouter.start()
				for (i=1; i<4; i++) {
					var invokeRequest = {
					"scriptHash": this.contract_hash,
  					"operation": "uri",
  					"args": [
    					{
      						"type": 'Integer',
      						"value": parseInt(i, 10)
      					}
  					],
  					"network": "TestNet"}
				 	smartEcoRouter.invokeRead(invokeRequest)
					.then(function(r) {
						var hex = r["stack"][0]["value"]
    					var str = '';
    					for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)
        					str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
						console.log(str)
						self.token_urls.push(str)
						console.log(self.token_urls)
					})
					.catch(function(e) {
						console.log(e)
					})	
				}
			}
		}
	});
</script>>
	<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/theme.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128562956-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-128562956-1');
	</script>
</body>